body {
  background-image: linear-gradient(
    to right,
    #c1c161 0%,
    #c1c161 0%,
    #d4d4b1 100%
  );
}
h1 {
  margin-top: 30px;
  text-align: center;
  font-family: serif;
}
p {
  margin: 40px 80px;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  border: 1px solid rgb(232, 250, 208);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  max-width: 40%;
}

a {
  margin-right: 50px;
  margin-bottom: 20px;
  color: #6363c5;
}
